extends base.pug 

//- block style 
//-     link(rel="stylesheet" href="/static/cs/about.css")
block scripts 
    script(src="/static/js/about.js") 

block content 
    div.about__container 
        p
            |So, there ins't really anything special about me, or this project honestly, this was just made to test my knowledge of socket.io. And it seems like I'm getting the hand of it